{% extends 'base.html' %}

{% block content_block %}
	<form class="form-horizontal" method = 'POST', action="">
	{% csrf_token %}
		<div class="form-group">
			{{form.as_p}}
		</div>

		<div class="form-group">
			{% if edit_form %}
				<input type="submit" value="Update Profile">
			{% else %}
				<input type="submit" value="Register">
			{% endif %}
		</div>
	</form>
{% endblock %}