{% extends 'base.html' %}
{% block content_block %}
	<form method="POST" action="">
	{% csrf_token %}
		<div class="form-group">
			Username:
			<input class="form-control" type="text" name="username">
		</div>
		<div class="form-group">
			Password:
			<input class="form-control" type="password" name="password">
		</div>

		<div class="form-group">
		<input type="submit" name="submit" value="Login">
		</div>

	</form>
{% endblock %}