{% extends 'base.html' %}

{% block content_block %}

	<div class="row">
		<div class="col-md-4">
			<p>
				<a href="{% url 'account:edit_profile' %}"> Edit my profile </a>
			</p>	
		</div>

		<div class="col-md-4">
			<p>
				 <a href="{% url 'auction:profile_auction_list' request.user %}"> View my Auctioned items </a>
			</p>
		</div>

		<div class="col-md-4">
			<p>
				<a href="{% url 'auction:profile_auction_list' request.user %}"> Edit my auctions items </a>
			</p>
		</div>


	</div>
{% endblock %}