{% extends 'base.html' %}

{% block content_block %}
	
		<h3>Seller: {{auction.seller}}</h3>
		<div class="row">
			<div id="description" class="col-md-4">
				<p> <strong>{{auction.title}}</strong></p>
				<p>
					{{auction.description}}
				</p>
			</div>
		</div>

		<div class="row">
			<div id="deadline" class="col-md-4">
				<p> This auction ends at {{auction.deadline}}</p>
			</div>
		</div>

		<div class="row">
			<div id="price" class="col-md-4">
				<p> Auction started at: {{auction.start_price}} euros.</p>
				<p>Current amount : {{current_price}} euros.</p>
				<a href="{% url 'auction:bid_on_auction' auction.pk %}">
					<button class="btn btn-info" type="button">
						Bid
					</button>
				</a>
				
			</div>
		</div>



	
{% endblock %}