{% extends 'base.html' %}

{% block content_block %}
	<ul class="list-group">
		{% for auction in auctions %}
			<li class="list-group-item">{{auction.title}}
				
					<span class="badge">
						<a href="{% url 'auction:edit_auction' auction.pk %}" style="color:white"> Edit <span class="glyphicon glyphicon-edit"></span> 
						</a>
					</span>
					
					<span class="badge"> 
						<a href="{% url 'auction:delete_auction' auction.pk %}" style="color:white"> Delete <span class="glyphicon glyphicon-remove"> </span>
						</a>
					</span>
				
			</li>
		
		{% endfor %}
	</ul>
{% endblock %}