{% extends 'base.html' %}

{% block content_block %}
<h2> {{product}} </h2>
Current amount is: {{current_amount}}
<form method='POST' action=''>
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="bid" value="Bid">
</form>
{% endblock %}