{% extends 'base.html' %}

{% block content_block %}
<h2 style="color:green"> Please confirm your data. </h2>
	<form class="form-horizontal" method="POST" action="{% url 'auction:confirm_auction' %}">
	{% csrf_token %}
	<div class="form-group">
			<label class="control-label"> Title: </label>
			{{form.title}} 
		</div>

		<div class="form-group">
			Description: {{form.description}}
		</div>

		<div class="form-group">
			Price: {{form.start_price}}
		</div>

		<div class="form-group">
			Deadline: {{form.deadline}}
		</div>

		<div class="form-group">
			<input type="submit" name="confirm_submit" value="Yes, create an auction">
			<input type="submit" name="reject_confirm" value="Cancel, creating auction">
		</div>
	</form>

{% endblock %}