{% extends 'base.html' %}

{% block content_block %}
{% if errors %}

	<div id="errors">
		<p> {{errors}}</p>
		
	</div>
	{% endif %}
	
		<form  method="POST" action="">
		{% csrf_token %}
		<div class="form-group">
			<label class="control-label"> Title: </label>
			{{form.title}}
		</div>

		<div class="form-group">
			Description: {{form.description}}
		</div>

		<div class="form-group">
			Price: {{form.start_price}}
		</div>

		<div class="form-group">
			Deadline: {{form.deadline}}
		</div>

		<div class="form-group">
			<input type="submit" value="Create Auction">
		</div>
		</form>

					
	
{% endblock %}