{% extends 'base.html' %}

{% block content_block %}

	<h2>Edit the auction </h2>
	<form class="form-group" method="POST" action="">
	{% csrf_token %}
		{{form}}
		<br>
		<input class="form-control" type="submit" name="submit" value="Update Auction" style="background-color:lightblue">
	</form>
{% endblock %}