{% extends 'base.html' %}

{% block content_block %}
	{% if messages %}
		{% for message in messages %}
			<h2 style="color:green"> {{message}}</h2>
		{% endfor %}
	{% endif %}
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Product</th>
				<th> Seller </th>
				<th>Start Price</th>
				<th>Status </th>
			</tr>
		</thead>

		<tbody>
		
		{% for auction in results %}
			<tr>
				<td><a href="{% url 'auction:auction_detail' auction.pk %}"> {{auction.title}}</a></td>
				<td>{{auction.seller}}</td>
				<td>{{auction.start_price}} Euros</td>
				<td>{{auction.get_status_display}}</td><!--Display whole ACTIVE instead of ACT -->
			</tr></a>
		{% endfor %}

		</tbody>
		
	</table>
	
{% endblock %}