<!DOCTYPE html>
<html lang="en">  
{% load static %}
	<head>

	<!--All the bootstrap and js mcdn here -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--end of bootstrap and js import -->
	<!--Custom js and css files here-->
	<script src="{% static 'auction/myajax.js' %}"></script>




		{% block title %} <title>YAAS</title>{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'auction:index_view' %}">YAAS</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form" role="search" action="{% url 'auction:search_auction' %}">
        					<div class="input-group">
            					<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
           					 <div class="input-group-btn">
                				<button class="btn btn-default" type="submit" id="srch-button"><i class="glyphicon glyphicon-search"></i></button>
            				</div>
       						 </div>
       					 </form>
       				</li>

					{% if not user.is_authenticated %}
						<li> <a href="{% url 'account:user_register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="{% url 'account:user_login' %}"><span class="glyphicon glyphicon-log-in"> </span> Login</a></li>
					{% else %}
					<li><a href="{% url 'auction:create_auction' %}"><span class="glyphicon glyphicon-upload"></span> Crete Auction</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href=""> {{request.user}}<span class="caret"></span></a>
							
							<ul class="dropdown-menu">
								<li><a href="{% url 'account:user_profile' %}"> <span class="glyphicon glyphicon-user"></span> My profile</a></li>
								<li><a href=""><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
								<li><a href="{% url 'account:user_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
							</ul>
						</li>
					{% endif %}

				</ul>
			</div>
		</nav>

		<div class="jumbotron text-center">
			<h2> Buy and Sell with ease</h2>
		</div>

		<!--All the contents goes here -->
		<div class="container">
			{% block content_block %}
				
			{% endblock %}
		</div>
		



		

	</body>
</html>